#{{ ansible_managed }}
<VirtualHost *:80>
    ServerName {{ galaxy_servername }}
    RewriteEngine on
    RewriteRule ^/static/style/(.*) /data/galaxypa/galaxy/static/june_2007_style/blue/$1 [L]
    RewriteRule ^/static/scripts/(.*) /data/galaxypa/galaxy/static/scripts/packed/$1 [L]
    RewriteRule ^/static/(.*) /data/galaxypa/galaxy/static/$1 [L]
    RewriteRule ^/favicon.ico /data/galaxypa/galaxy/static/favicon.ico [L]
    RewriteRule ^/robots.txt /data/galaxypa/galaxy/static/robots.txt [L]
    RewriteRule ^/reporting-pasteur/(.*) http://localhost:9001/$1 [P]
    RewriteRule ^(.*) http://localhost:18084$1 [P]
    <Proxy http://localhost:18084>
        Order deny,allow
        allow from all
        XSendFile On
        XSendFilePath /
    </Proxy>
    <Proxy http://localhost:9001>
        Order deny,allow
        Deny from all
        allow from all
    </Proxy>


</VirtualHost>
